---
title: "Bridging Human Concepts and Computer Vision for Explainable Face Verification"
authors:
  - Miriam Doh
  - Caroline Mazini Rodrigues
  - Nicolas Boutry
  - Laurent Najman
  - Matei Mancas
  - Hugues Bersini
source: https://ceur-ws.org/Vol-3615/paper2.pdf
venue: BEWARE 2023
type: proceedings
created: 2025-02-17
tags:
  - themes/bias
  - tech/Ai
  - themes/ethics
---

# Notes

