---
title: "Prompt Me One More Time: A Two-Step Knowledge Extraction Pipeline with Ontology-Based Verification"
source: "https://aclanthology.org/2024.textgraphs-1.5/"
author:
  - "[[ACL Anthology]]"
published:
created: 2025-05-15
description: "Alla Chepurova, Yuri Kuratov, Aydar Bulatov, Mikhail Burtsev. Proceedings of TextGraphs-17: Graph-based Methods for Natural Language Processing. 2024."
tags:
  - "op/suggestedBytutors"
---
[Alla Chepurova](https://aclanthology.org/people/a/alla-chepurova/),[Yuri Kuratov](https://aclanthology.org/people/y/yurii-kuratov/),[Aydar Bulatov](https://aclanthology.org/people/a/aydar-bulatov/),[Mikhail Burtsev](https://aclanthology.org/people/m/mikhail-burtsev/)

---

##### Abstract

This study explores a method for extending real-world knowledge graphs (specifically, Wikidata) by extracting triplets from texts with the aid of Large Language Models (LLMs). We propose a two-step pipeline that includes the initial extraction of entity candidates, followed by their refinement and linkage to the canonical entities and relations of the knowledge graph. Finally, we utilize Wikidata relation constraints to select only verified triplets. We compare our approach to a model that was fine-tuned on a machine-generated dataset and demonstrate that it performs better on natural data. Our results suggest that LLM-based triplet extraction from texts, with subsequent verification, is a viable method for real-world applications.

Anthology ID:

2024.textgraphs-1.5

Volume:

[Proceedings of TextGraphs-17: Graph-based Methods for Natural Language Processing](https://aclanthology.org/volumes/2024.textgraphs-1/)

Month:

August

Year:

2024

Address:

Bangkok, Thailand

Editors:

[Dmitry Ustalov](https://aclanthology.org/people/d/dmitry-ustalov/),[Yanjun Gao](https://aclanthology.org/people/y/yanjun-gao/),[Alexander Panchenko](https://aclanthology.org/people/a/alexander-panchenko/),[Elena Tutubalina](https://aclanthology.org/people/e/elena-tutubalina/),[Irina Nikishina](https://aclanthology.org/people/i/irina-nikishina/),[Arti Ramesh](https://aclanthology.org/people/a/arti-ramesh/),[Andrey Sakhovskiy](https://aclanthology.org/people/a/andrey-sakhovskiy/),[Ricardo Usbeck](https://aclanthology.org/people/r/ricardo-usbeck/),[Gerald Penn](https://aclanthology.org/people/g/gerald-penn/),[Marco Valentino](https://aclanthology.org/people/m/marco-valentino/)

Venues:

[TextGraphs](https://aclanthology.org/venues/textgraphs/) | [WS](https://aclanthology.org/venues/ws/)

SIG:

Publisher:

Association for Computational Linguistics

Note:

Pages:

61–77

Language:

URL:

[https://aclanthology.org/2024.textgraphs-1.5/](https://aclanthology.org/2024.textgraphs-1.5/)

DOI:

Bibkey:

Cite (ACL):

Alla Chepurova, Yuri Kuratov, Aydar Bulatov, and Mikhail Burtsev. 2024. [Prompt Me One More Time: A Two-Step Knowledge Extraction Pipeline with Ontology-Based Verification](https://aclanthology.org/2024.textgraphs-1.5/). In *Proceedings of TextGraphs-17: Graph-based Methods for Natural Language Processing*, pages 61–77, Bangkok, Thailand. Association for Computational Linguistics.

Cite (Informal):

[Prompt Me One More Time: A Two-Step Knowledge Extraction Pipeline with Ontology-Based Verification](https://aclanthology.org/2024.textgraphs-1.5/) (Chepurova et al., TextGraphs 2024)

Copy Citation:

PDF:

[https://aclanthology.org/2024.textgraphs-1.5.pdf](https://aclanthology.org/2024.textgraphs-1.5.pdf)

---